[akin@jabber.pardus.org.tr]
Category=2
Filename=akin@jabber.pardus.org.tr.png

[ali@jabber.pardus.org.tr]
Category=2
Filename=ali@jabber.pardus.org.tr.png

[bahadir@jabber.pardus.org.tr]
Category=2
Filename=bahadir@jabber.pardus.org.tr.png

[baris.oztrk@gmail.com]
Category=2
Filename=baris.oztrk@gmail.com.png

[ekrem.seren@gmail.com]
Category=2
Filename=ekrem.seren@gmail.com.png

[ekrem@jabber.pardus.org.tr]
Category=2
Filename=ekrem@jabber.pardus.org.tr.png

[eren.turkay@jabber.pardus.org.tr]
Category=2
Filename=eren.turkay@jabber.pardus.org.tr.png

[fatih@jabber.pardus.org.tr]
Category=2
Filename=fatih@jabber.pardus.org.tr.png

[flameeyes@gmail.com]
Category=2
Filename=flameeyes@gmail.com.png

[gokcen@jabber.pardus.org.tr]
Category=2
Filename=gokcen@jabber.pardus.org.tr.png

[ilker@jabber.pardus.org.tr]
Category=2
Filename=ilker@jabber.pardus.org.tr.png

[ismail@namtrac.org]
Category=2
Filename=ismail@namtrac.org.png

[kenan@jabber.pardus.org.tr]
Category=2
Filename=kenan@jabber.pardus.org.tr.png

[kenan@sudrap.org]
Category=2
Filename=kenan@sudrap.org.png

[mahmut.colak@gmail.com]
Category=2
Filename=mahmut.colak@gmail.com.png

[mehmet@jabber.pardus.org.tr]
Category=2
Filename=mehmet@jabber.pardus.org.tr.png

[mew@jabber.pardus.org.tr]
Category=2
Filename=mew@jabber.pardus.org.tr.png

[mfthakbulut@gmail.com]
Category=2
Filename=mfthakbulut@gmail.com.png

[mstf@jabber.pardus.org.tr]
Category=2
Filename=mstf@jabber.pardus.org.tr.png

[murat@jabber.pardus.org.tr]
Category=2
Filename=murat@jabber.pardus.org.tr.png

[murat@sudrap.org]
Category=2
Filename=murat@sudrap.org.png

[nebahat.donmez@gmail.com]
Category=2
Filename=nebahat.donmez@gmail.com.png

[nightfairy@jabber.pardus.org.tr]
Category=2
Filename=nightfairy@jabber.pardus.org.tr.png

[pinar@jabber.pardus.org.tr]
Category=2
Filename=pinar@jabber.pardus.org.tr.png

[rkirmizi@jabber.pardus.org.tr]
Category=2
Filename=rkirmizi@jabber.pardus.org.tr.png

[selimok@jabber.pardus.org.tr]
Category=2
Filename=selimok@jabber.pardus.org.tr.png

[soytetir@jabber.pardus.org.tr]
Category=2
Filename=soytetir@jabber.pardus.org.tr.png

[terwou@jabber.belnet.be]
Category=2
Filename=terwou@jabber.belnet.be.png

[tux@jabber.pardus.org.tr]
Category=2
Filename=tux@jabber.pardus.org.tr.png

[tuxedup@jabber.pardus.org.tr]
Category=2
Filename=tuxedup@jabber.pardus.org.tr.png
