BasedOnStyle: Google
AlignAfterOpenBracket: 'true'
AlignConsecutiveAssignments: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBraces: Stroustrup
ColumnLimit: 80
Cpp11BracedListStyle: 'true'
ReflowComments: 'false'
Standard: Cpp11
UseTab: Never
