[core]
	excludesfile = /home/cartman/.gitignore
	quotepath = false
	fileMode = false
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[user]
	name = İsmail Dönmez
	email = ismail@intelligentpapers.com
[svn]
    brokenSymlinkWorkaround = false
[color]
	ui = auto
