[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    wdiff = diff --color-words

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore
    quotepath = false
    autocrlf = false

[credential]
    helper = cache

[diff]
    algorithm = patience

[fetch]
    fsckobjects = true

[help]
    autocorrect = 5

[http]
    sslVerify = true
    cookiefile = ~/.gitcookies

[include]
    path = .gitconfig-local

[push]
    default = simple

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = ismail@i10z.com

[svn]
    brokenSymlinkWorkaround = false

[user]
    name = İsmail Dönmez
    email = ismail@i10z.com
    signingkey = BE04133F8FEC6368

[receive]
    fsckobjects = true

[transfer]
    fsckobjects = true

[commit]
	gpgsign = true

[status]
	showUntrackedFiles = all
