[Desktop Entry]
Icon=text-html
Name=18526432
Type=Link
URL[$e]=http://www.girltripped.deviantart.com/journal/18526432/
X-KDE-LastOpenedWith=kfmclient_html
