[Desktop Entry]
Icon=application-pdf
Name=rat_1.pdf
Type=Link
URL[$e]=zip:/home/cartman/Downloads/ada95_rationale.zip/rat_1.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
